---
import { navItems } from "@assets/navItems.js";
import { classCombie } from "@utils/classCombie.js";
---

<nav class="bg-white dark:bg-slate-700">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        {/*Mobile menu button*/}
        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          {/*Icon when menu is closed.Menu open: "hidden", Menu closed: "block"*/}
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
          {/*Icon when menu is open. Menu open: "block", Menu closed: "hidden"*/}
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div>
          <div class="absolute top-0 sm:left-0 -translate-x-1/2 sm:translate-x-0 h-[4.3rem] text-lg font-bold box-decoration-clone bg-gradient-to-r from-indigo-600 to-pink-500 text-slate-200 px-2 sm:px-4 rounded-b-2xl flex justify-center items-center z-10">
            <a href="/">Astro Todo</a>
          </div>
        </div>
        <div class="hidden sm:ml-6 sm:flex flex-1 justify-end">
          <div class="flex space-x-2">
            {
              navItems.map((e) => {
                return (
                  <a href={e.path} class={classCombie(e.path == Astro.url.pathname ? "bg-gray-900 text-white" : "dark:text-gray-300 text-gray-700 hover:bg-gray-700 hover:text-white", "px-3 py-2 rounded-md text-sm font-medium whitespace-nowrap")}>
                    {e.title}
                  </a>
                );
              })
            }
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" class="rounded-full bg-gray-300 dark:bg-gray-800 p-1 text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white">
          <span class="sr-only">View notifications</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"></path>
          </svg>
        </button>

        <!-- Profile dropdown -->
        <div class="relative ml-2 sm:ml-3">
          <div>
            <button type="button" class="rounded-full bg-gray-300 dark:bg-gray-800 p-1 text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
              </svg>
            </button>
          </div>
          <div class="absolute hidden right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" id="user-menu">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
          </div>
          <script is:inline>
            document.querySelector("#user-menu-button").addEventListener("click", () => {
              document.querySelector("#user-menu").classList.toggle("hidden");
            });
          </script>
        </div>
      </div>
    </div>
  </div>

  {/*Mobile menu, show/hide based on menu state*/}
  <div class="hidden sm:hidden animation-controll" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      {
        navItems.map((e) => {
          return (
            <a href={e.path} class={classCombie(e.path == Astro.url.pathname ? "bg-gray-900 text-white dark:bg-gray-100 dark:text-black" : "dark:text-gray-200 text-gray-700 hover:bg-gray-700 hover:text-white dark:hover:bg-gray-200 dark:hover:text-black", "block px-3 py-2 rounded-md text-base font-medium whitespace-nowrap")}>
              {e.title}
            </a>
          );
        })
      }
    </div>
  </div>
  <script is:inline>
    document.querySelector('[aria-controls="mobile-menu"]').addEventListener("click", (e) => {
      let menuButton = document.querySelector('[aria-controls="mobile-menu"]');
      menuButton.querySelector("svg").classList.toggle("hidden");
      menuButton.querySelector("svg:nth-child(3)").classList.toggle("hidden");
      document.querySelector("#mobile-menu").classList.toggle("hidden");
    });
  </script>
</nav>
