<!-- component -->
<h1>
Manage your teams
</h1>
<div class="items-center bg-white dark:bg-slate-700 rounded-3xl shadow-xl p-8 lg:p-12 mx-auto w-full max-w-6xl">
  <div class="bg-white shadow-md rounded my-6">
    <table class="min-w-max w-full table-auto">
      <thead>
        <tr
          class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
        >
          <th class="py-3 px-6 text-left">Team</th>
          <th class="py-3 px-6 text-left">Client</th>
          <th class="py-3 px-6 text-center">Users</th>
          <th class="py-3 px-6 text-center">Status</th>
          <th class="py-3 px-6 text-center">Actions</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <tr>
          <td>Name team</td>
          <td>Client name</td>
          <td class="text-center">2</td>
          <td class="text-center">Active</td>
          <td>
            actions
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>