---
const { header } = Astro.props;
---

<article class="border dark:border-white/10 dark:bg-slate-700 bg-white min-h-[50vh] rounded-xl p-2 m-2 shadow-lg dark:shadow-black/50 flex-1">
  <h2 class="text-center w-full border-b border-black/20 dark:border-white/20">{header}</h2>
</article>
