---
import "@styles/global.css";
import ThemeSwicher from "@/components/ui/ThemeSwicher.astro";
import Header from "@/components/ui/Header.astro";
import Footer from "@/components/ui/Footer.astro";
const { title } = Astro.props;
---

<html lang="en" class="box-border">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <title>{title}</title>
    <script src="https://unpkg.com/axios@latest/dist/axios.min.js"> </script>
  </head>
  <body class="bg-slate-200 dark:bg-slate-900 text-dark dark:text-white min-h-screen flex flex-col">
    <header>
      <Header />
      <ThemeSwicher />
    </header>
    <main class="container mx-auto relative w-full animation-controll flex-1 flex flex-col justify-center items-center my-2">
      <slot />
    </main>
    <Footer />
  </body>
</html>
